h1,
p {
  font-family: Lato;
}

.personalized--class {
  width: 100%;

  background-color: #116333;
  color: white;

  font-family: 'Times New Roman';
}

.Personalized--Form {
  margin: 3em;
  margin-right: 7em;
  width: 20em;
  height: fit-content;
  color: black;
  background-color: white;
  padding: 2em;
  word-spacing: 2px;
  box-shadow: 0 8px 6px -6px black;
}
.personalized--divi {
  display: flex;
  gap: 20px;
}
.form-data {
  margin-top: 0.6em;
  padding: 8px;
  width: 18em;
  height: 2em;
  border-color: rgb(202, 243, 197);
  border-width: 1px;
  border-radius: 5px;
}
button {
  margin-top: 1em;
  background-color: #116333;
  width: 10em;
  align-items: center;
  border: none;
  height: 2em;
  color: white;
  font-size: 1em;
  padding: 4px;
}
.lable {
  margin-top: 20px;
}

.form--lable {
  font-size: large;
}
.box1 {
  border: white;
  padding: 2em;
  margin: 2em;
}
nav {
  background-color: rgb(226, 232, 238);
  width: 100%;
  margin: 0;
  padding: 2em;
  display: inline-flex;
  /* position: fixed; */
  top:0;
  overflow: hidden;
}
ul {
  margin: 0;
  right: 0;
  position: absolute;
}
li {
  right: 5em;
  position: relative;
  display: inline-flex;
  padding: 0.8em;
  font-size: 1.2em;
}

.image--caption{
  position: absolute;
  top: 3em;
  left: 16px;
  color: white;
  font-size: 4em;
  width: 400px;
  padding: 20px;
  margin-left: 1.6em;
}

.ImageButton{
  font-size:1.3em;
  background-color: rgb(248, 62, 49);
  width: 270px;
  height: 50px;
  padding: 20px;
  padding-bottom: 30px;
  margin-left: 1.6em;
  
}
.main--buttons{
  position: absolute;
  top: 32em;
  
}
.content--data--class{
  width: 100;
  position: relative;
  background-color: rgb(253, 225, 239);
  border-radius: 20px;
  padding-top: 30px;
  padding: 20px;
  margin-bottom:20px;
  margin-top:10px;
}

.subpointers--class{
  position:relative;
}
.content--data--class{
  
}

.steps--class{
  font-size: 3em;
  font-weight: 800;
  padding: 10px;
  margin-top: 20px;
}
.subheading--class{
  font-size: 2em;
  font-weight: 600;
  padding: 10px;
  padding-top: 40px;
  margin-top: 20px;
  
}
.headingtext--class{
  font-size: 1.5em;
  font-weight: 200;
  padding:20px;
  margin-top: 20px;
  text-align: center;
}
